{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "arrowParens": "always"
      }
    }
  ]
}
